/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */
* {
    font-family: "Raleway", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Syne Mono", monospace; */
}

span {
    color: #0d7706e3;
    /* text-decoration: underline 3px solid rgb(247, 28, 240); */
    /* font-style: italic; */
    font-weight: 500;
    /* font-family: "Syne Mono", monospace; */
}
:root {
    --font-color: #00ed67;
    --bg-color: #001e2b;
}

.first-container,
.second-container
.third-container,
.frontdev {
    margin: 0 auto;
    padding: 0 100px;
}

.first-one {
    width: 100%;
    padding: 100px;
}
.first-one h1 {
    color: black;
    font-size: 80px;
    font-weight: 600;
    text-align: center;
}
.first-one p {
    padding: 0 100px;
    margin-top: 50px;
    text-align: center;
    font-size: 22px;
}

#btn {
    background-color: var(--font-color);
    font-size: 22px;
    padding: 5px 30px;
    text-align: center;
    margin-left: 46%;
    margin-top: 50px;
}
#btn:hover{
    cursor: pointer;
    border-radius: 30px;
    transition: 0.5s all;
}

/* Media Queries for Responsiveness */

/* Extra Small Devices (Phones, 600px and below) */
@media (max-width: 600px) {

    .first-container {
        margin: 0 auto;
        padding: 0 10px;
    }  
    .first-one {
        padding: 100px 0px;
    }
    .first-one h1 {
        /* color: black; */
        font-size: 43px;
        /* font-weight: 600; */
        text-align: start;
    }
    .first-one p {
        padding: 0 10px;
        /* margin-top: 50px; */
        text-align: start;
        font-size: 20px;
        font-weight: 500;
    }
    
    #btn {
        font-size: 20px;
        margin-left: 3%;
    }
}

/* Small Devices (Tablets, 600px to 900px) */
@media (min-width: 601px) and (max-width: 900px) {

    .first-container {
        margin: 0 auto;
        padding: 0 20px;
    }  
    .first-one {
        padding: 80px 0;
    }
    .first-one h1 {
        font-size: 55px;
        text-align: start;
    }
    .first-one p {
        padding: 0 10px;
        text-align: start;
        font-size: 22px;
    }
    #btn {
        font-size: 22px;
        margin-left: 2%;
    }
}
/* Medium Devices (Laptops, 900px to 1200px) */
@media (min-width: 901px) and (max-width: 1200px) {

    .first-container {
        margin: 0 auto;
        padding: 0 40px;
    }  
    .first-one {
        padding: 100px 0; 
    }
    .first-one h1 {
        font-size: 65px;
        text-align: start;
    }
    .first-one p {
        padding: 0 40px;
        text-align: start;
        font-size: 24px;
        font-weight: 500;
    }
    #btn {
        font-size: 24px; 
        margin-left: 7%; 
    }
}
/*Complete First Container*/

/*Start Second Container*/
.second-container {
    background-color: black;
}

.second-one {
    width: 100%;
    height: auto;
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
}

/* .second-one {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
} */

.frontend,
.backend,
.design,
.noncoding,
.aitool {
    background-color: var(--font-color);
    width: 350px;
    padding: 10px 10px;
    margin: 15px auto;
    border-radius: 10px; /* Rounded corners */
    text-align: start;
}

.second-one h1 {
    font-size: 35px;
    font-weight: 600;
    text-decoration:underline 3px;
    
}
.second-one p {
    padding-top: 80px;
    margin-bottom: 10px;
}

.btn {
    font-size: 22px;
    color: black;
    padding: 2px 15px;
    border-radius: 20px;
    border: 2px solid black;
}

.btn:hover {
    background-color: black;
    color: white;
    transition: 0.5s all;
}

@media (max-width: 600px) {
    .second-one {
        width: 100%;
        /* height: auto; */
        /* padding: 100px 0; */
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr); /* 3 items in one row */
        gap: 30px; /* Adjust the gap between items */
        justify-items: center;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .second-one {
        width: 100%;
        height: auto;
        padding: 100px 0;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-items: center;
    }
}
@media (min-width: 901px) and (max-width: 1200px) {
    .second-one {
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr); /* 3 items in one row */
        gap: 30px; /* Adjust the gap between items */
        justify-items: center;
    }
}
/*End Second Container*/
