/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */
* {
    font-family: "Raleway", serif;
    /* font-family: "Syne Mono", monospace; */
}

:root {
    --font-color: #00ed67;   /* Green font color */
    --bg-color: #001e2b;     /* Bright green background color */
}

body {
    background-color: black;
}
h1 {
    font-size: 100px;
    font-weight: 500;
    text-transform: uppercase;
}

h3 {
    font-size: 40px;
    font-weight: 500;
}